html {
  height: 100%;
  width: 100%;
}
*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin :0;
  padding:0;
  text-decoration:none;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  background:linear-gradient(to right top,#a1a1a1,#84b4d7,#00d1e3,#00e7a2,#a8eb12);
}
form{
  background : #989898ce;
  width:350px;
  height:580px;
  padding:75px 50px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
h1{
  text-align:center;
  margin-bottom:45px;
  color:white;
  font-size: 40px;
}
.textBox{
  border-bottom: 2px solid white;
  position:relative;
  margin:35px 0;
}
.textBox input{
  background:none;
  border:none;
  outline:none;
  width:100%;
  color: white;
  font-size:20px;
}
.loginbtn{
    height:45px;
    width:100%;
    border:none;
    outline:invert;
    background:linear-gradient(to right top,#a1a1a1,#84b4d7,#00d1e3,#00e7a2,#a8eb12);
    background-size:200%;
    transition:0.5s;
    color:white;
    font-size:16px;
}
.loginbtn:hover{
  background-position:right;
  font-size:17px;
}
.signup a{
  color:black;
  text-align:center;
}

